langchain_community
langchain_text_splitters
langchain_chroma
langchain_openai
langchain_core
langchain~=0.2.5
click~=8.1.7
streamlit~=1.36.0
numpy<2,>=1.20.0
esprima
tree-sitter 
tree-sitter-languages
pytest~=8.2.2
chromadb~=0.5.3
setuptools~=59.6.0